.billboard {
  display: block;
  min-width: 320px;
  height: 389px;
  background-color: #999999;
  background-image: url("../../img/text-sedona-index.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 282px 214px, 768px 389px;
  background-position: center 92px, center 0;
  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    top: 641px;
    left: calc(50% - 160px);
    width: 320px;
    height: 57px;
    background-image: url("../../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }
}

.billboard--small {
  height: 158px;
  background-image: url("../../img/text-sedona.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-size: 230px 40px, 768px 389px;
  background-position: center 52px, center -231px;
  &::after {
    content: "";
    top: 410px;
  }
}

@media (min-width: @tablet-width) {
  .billboard {
    min-width: 768px;
    height: 518px;
    background-image: url("../../img/text-sedona-index.svg"), url("../../img/bg-back-tablet@1x.jpg");
    background-size: 460px 350px, 768px 518px;
    background-position: center 76px, 0;
    &::after {
      position: absolute;
      content: "";
      z-index: 1;
      top: 517px;
      left: calc(50% - 384px);
      width: 768px;
      height: 57px;
      background-image: url("../../img/bg-intro-triangle-tablet.svg");
      background-repeat: no-repeat;
    }
  }

  .billboard--small {
    height: 290px;
    background-image: url("../../img/text-sedona.svg"), url("../../img/bg-back-tablet@1x.jpg");
    background-size: 460px 80px, 768px 518px;
    background-position: center 94px, center -228px;
    &::after {
      content: "";
      top: 289px;
    }
  }
}

@media (min-width: @desktop-width) {
  .billboard {
    width: 1200px;
    background-image: url("../../img/text-sedona-index.svg"), url("../../img/bg-back-desktop@1x.jpg");
    background-size: 460px 350px, 1200px 518px;
    &::after {
      position: absolute;
      content: "";
      z-index: 1;
      top: 517px;
      left: calc(50% - 600px);
      width: 1200px;
      height: 57px;
      background-image: url("../../img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
    }
  }

  .billboard--small {
    height: 300px;
    background-image: url("../../img/text-sedona.svg"), url("../../img/bg-back-desktop@1x.jpg");
    background-size: 460px 80px, 1200px 518px;
    background-position: center 102px, center -218px;
    &::after {
      content: "";
      top: 299px;
    }
  }
}
