.form-impression {
  margin: 0 auto;
  padding: 0;
  border-bottom: solid 1px #e5e5e5;
}

.form-impression__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.form-impression__item {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.form-impression__input {
  flex-grow: 1;
  border: none;
  margin: 10px 0;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  min-width: 0;
  display: none;
}

.form-impression__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: bold;
  text-transform: none;
}

.form-impression__label {
  font-size: 18px;
  line-height: 1;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  &::before {
    width: 56px;
    height: 56px;
    top: -18px;
    left: -80px;
    background-color: #f2f2f2;
  }
  &::after {
    width: 24px;
    height: 24px;
    top: -3px;
    left: -64px;
    background-color: #000000;
  }
}

@media (min-width: @tablet-width) {
  .form-impression {
    margin: 0;
    order: -1;
    border-bottom: none;
    h3 {
      font-size: 21px;
      line-height: 1;
    }
  }

}

@media (min-width: @desktop-width) {}



