.questionnaire,
.form__name,
.form__contacts,
.form__radio,
.form__checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.questionnaire {
  align-items: center;
  min-width: 320px;
  & h2 {
    margin: 40px auto;
  }
  & p {
    margin: 0;
    margin-bottom: 20px;
    width: 280px;
    font-size: 14px;
    line-height: 24px;
  }
}

.form__name,
.form__contacts,
.form__radio,
.form__checkbox,
.form__textarea {
  .lists-reset();
  border-top: solid 1px #e5e5e5;
}

.form__name {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  outline: 1px solid #1337d2;
  & h3 {
    margin: 20px 0;
  }
}

.form__item {
  display: flex;
  justify-content: flex-end;

}

.form__label--name {

}

.form__input--name {
  background-color: #f2f2f2;
}

.form__contacts {
}

.form__radio {
}

.form__checkbox {
}

.form__textarea {
  height: 220px;
}

.form__caption {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.form__label--name {
  font-size: 14px;
  line-height: 26px;
}

.form__submit {
  width: 280px;
  height: 58px;
  margin-bottom: 75px;
}


@media (min-width: @tablet-width) {

}
