.form-name {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
  border-bottom: solid 1px #e5e5e5;
  h3 {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1;
  }
}

.form-name__list {
  margin-bottom: 17px;
  padding: 0;
  width: 280px;

}

.form-name__item {
  display: flex;
  align-items: center;
}

.form-name__input {
  flex-grow: 1;
  order: 1;
  border: none;
  margin: 9px 0;
  height: 58px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  min-width: 0;
}

.form-name__label {
  margin-right: 15px;
}

.form-name__input {
  padding-left: 20px;
}

.form-name__input:hover {
  background-color: #e5e5e5;
}

.form-name__input:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .form-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 270px;
    height: 300px;
    margin: 0;
    padding: 0;
    border-bottom: none;
    h3 {
      margin: 0;
      margin-bottom: 40px;
      padding-left: 5px;
      text-align: left;
      font-size: 21px;
      line-height: 1;
    }
  }

  .form-name__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 220px;
  }

  .form-name__input {
    padding-left: 25px;
  }

  .form-name__border {
    position: absolute;
    top: -12px;
    left: -55px;
    width: 1px;
    height: 293px;
    background-color: #dbdbdb;
  }

}

@media (min-width: @desktop-width) {
  .form-name {
    width: 400px;
    height: 300px;
    h3 {
      padding-left: 5px;
      text-align: left;
    }
  }

  .form-name__list {
    width: 400px;
  }

  .form-name__border {
    top: -10px;
    left: -81px;
  }
}
