.form-footer {
  position: relative;
}

.form-footer__submit {
  width: 280px;
  height: 58px;
  margin-top: 50px;
  margin-bottom: 43px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.form-footer__submit:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.form-footer__submit:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.form-footer__submit:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.form-footer__required {
  display: none;
}

.form-footer__modal {
  display: none;
  position: absolute;
  z-index: 2;
  width: 320px;
  height: 320px;
  top: -286px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 -8px 8px 0 #f2f2f2, 0 8px 8px 0 #d9d9d9;
}

.form-footer__centering {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 220px;
  height: 140px;
  text-transform: uppercase;

  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }
}

.form-footer__button-wrapper {
  width: 320px;
  height: 98px;
  background-color: #f2f2f2;
}

.form-footer__button {
  margin: 0 auto;
  margin-top: 20px;
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  border: 0;
}

.reason__gap {
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .form-footer {
    margin: 0;
    width: 648px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-footer__submit {
    width: 325px;
    margin-top: 60px;
    margin-bottom: 63px;
    padding-right: 23px;
    font-size: 21px;
    text-transform: uppercase;
  }

  .form-footer__required {
    display: inline-block;
  }

  .form-footer__modal {
    display: none;
    width: 648px;
    height: 347px;
    top: -560px;
    left: 0;
  }

  .form-footer__centering {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 420px;
    height: 100px;

    h3 {
      font-size: 30px;
    }
  }

  .form-footer__button-wrapper {
    width: 648px;
    height: 147px;
  }

  .form-footer__button {
    margin-top: 44px;
    width: 458px;
    height: 58px;
    font-size: 21px;
  }
}

@media (min-width: @desktop-width) {
  .form-footer {
    width: 960px;
    align-items: normal;
  }

  .form-footer__submit {
    width: 480px;
    margin: 0;
    margin-bottom: 70px;
    padding-right: 10px;
  }

  .form-footer__required {
    padding-top: 10px;
  }

  .form-footer__modal {
    display: none;
    margin: 0 auto;
    top: -602px;
    left: 160px;
    box-shadow: 0 -2px 2px 0 #f2f2f2, 0 4px 4px 0 #d9d9d9;
  }
}
