.form-emotions {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}

.form-emotions__title {
  h3 {
    margin: 22px auto;
    font-size: 18px;
    line-height: 1;
  }
}

.form-emotions__area {
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  padding-top: 15px;
  padding-left: 20px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial sans-serif";
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .form-emotions {
    margin: 0;
    padding: 0;
    width: 650px;
    height: 240px;
    border-bottom: none;
  }

  .form-emotions__title {
    display: flex;
    width: 650px;
    align-items: center;
    margin-bottom: 60px;
    h3 {
      width: 290px;
      margin: 0 auto;
      font-size: 21px;
      line-height: 1;
    }
    div {
      width: 125px;
      height: 1px;
      background-color: #dbdbdb;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-emotions {
    width: 960px;
  }

  .form-emotions__title {
    width: 960px;
    div {
      width: 270px;
    }
  }
}
