.form-impression {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
  width: 320px;
  height: 288px;
  border-bottom: solid 1px #e5e5e5;
  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1;
  }
}

.form-impression__list {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 160px;
}

.form-impression__item {
  display: flex;
  align-items: center;
}

.form-impression__input {
  flex-grow: 1;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  min-width: 0;
  display: none;
}

.form-impression__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 80px;
  text-align: left;
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  span {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: -2px;
    left: -64px;
    background-color: #333333;
    display: none;
  }
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    top: -18px;
    left: -80px;
    background-color: #f2f2f2;
  }
}

.form-impression__label:hover::before {
  background-color: #e5e5e5;
}

input[type="radio"]:checked + .form-impression__label span {
  display: block;
}

input[type="radio"]:active + .form-impression__label::before {
  background-color: #d5d5d5;
}

input[type="radio"]:active + .form-impression__label span {
  display: block;
  background-color: #a4a4a4;
}

@media (min-width: @tablet-width) {
  .form-impression {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    height: 300px;
    margin: 0;
    padding: 0;
    order: -1;
    border-bottom: none;
    h3 {
      margin-left: 0;
      margin-bottom: 78px;
      font-size: 21px;
      line-height: 1;
    }
  }

  .form-impression__list {
    margin: 0;
    padding: 0;
    display: flex;
    height: 175px;
  }

  .form-impression__label {
    margin-left: 76px;
    span {
      top: 0;
      left: -60px;
    }
    &::before {
      top: -16px;
      left: -76px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-impression {
    width: 370px;
    height: 290px;
    h3 {
      margin-left: 80px;
    }
  }
}