.form-footer__submit {
  width: 280px;
  height: 58px;
  margin-top: 50px;
  margin-bottom: 43px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

.form-footer__submit:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.form-footer__submit:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.form-footer__submit:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.form-footer__required {
  display: none;
}

@media (min-width: @tablet-width) {
  .form-footer {
    margin: 0;
    width: 648px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form-footer__submit {
    width: 325px;
    margin-top: 60px;
    margin-bottom: 65px;
  }

  .form-footer__required {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .form-footer {
    width: 960px;
    align-items: normal;
  }

  .form-footer__submit {
    width: 480px;
    margin: 0;
    margin-bottom: 70px;
  }

  .form-footer__required {
    padding-top: 10px;
  }
}