.form-contacts {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
  height: 286px;
  padding-top: 20px;
  border-bottom: solid 1px #e5e5e5;
  h3 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1;
  }
}

.form-contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  margin: 0;
  padding: 0;
}

.form-contacts__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-contacts__label,
.form-contacts__label--long {
  margin-bottom: 10px;
  padding-left: 20px;
}

.form-contacts__label--short {
  display: none;
}

.form-contacts__input {
  flex-grow: 1;
  border: none;
  padding-left: 20px;
  padding-right: 70px;
  width: 280px;
  height: 58px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  /*min-width: 0;*/
}

.form-contacts__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  & img {
    margin-top: 20px;
  }
}

@media (min-width: @tablet-width) {
  .form-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
    height: 260px;
    padding: 0;
    margin-top: 67px;
    margin-bottom: 48px;
    border-bottom: none;
  }

  .form-contacts__title {
    display: flex;
    width: 650px;
    align-items: center;
    margin-bottom: 32px;
    h3 {
      width: 290px;
      margin: 0 auto;
      font-size: 21px;
      line-height: 1;
    }
    div {
      width: 125px;
      height: 1px;
      background-color: #dbdbdb;
    }
  }

  .form-contacts__list {
    width: 650px;
    height: 200px;
  }

  .form-contacts__input {
    width: 648px;
  }

  .form-contacts__label--short {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .form-contacts {
    flex-direction: row;
    width: 960px;
  }

  .form-contacts__title {
    width: 960px;
    div {
      width: 270px;
    }
  }

  .form-contacts__list {
    width: 960px;
    justify-content: space-between;
  }

  .form-contacts__input {
    width: 315px;
  }

  .form-contacts__label--short {
    display: inline-block;
  }

  .form-contacts__label,
  .form-contacts__label--short {
    padding-left: 0;
    margin-right: 10px;
  }

  .form-contacts__label--long {
    display: none;
  }

  .form-contacts__input {
    padding-left: 18px;
  }
}



