.form-footer {
  position: relative;
}

.form-footer__submit {
  width: 280px;
  height: 58px;
  margin-top: 50px;
  margin-bottom: 43px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

.form-footer__submit:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.form-footer__submit:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.form-footer__submit:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.form-footer__required {
  display: none;
}

.form-footer__modal {
  position: absolute;
  width: 320px;
  height: 320px;
  top: -286px;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -30px 15px -35px #34495e;
  outline: 1px solid #d21f15;
}

.form-footer__centering {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  width: 220px;
  height: 140px;
  text-transform: uppercase;
  outline: 1px solid #d21f15;
  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1;
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }

  .form-footer__button-wrapper {
    width: 320px;
    height: 98px;
    background-color: #b7a42c;
    outline: 1px solid #d21f15;
  }

  .form-footer__button {
    display: block;
    margin: auto;
    width: 280px;
    height: 58px;
    background-color: #81b3d2;
    text-transform: uppercase;
    color: #ffffff;
  }

  .reason__gap {
    display: inline-block;
  }
}

@media (min-width: @tablet-width) {
  .form-footer {
    margin: 0;
    width: 648px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-footer__submit {
    width: 325px;
    margin-top: 60px;
    margin-bottom: 65px;
    font-size: 21px;
    text-transform: uppercase;
  }

  .form-footer__required {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .form-footer {
    width: 960px;
    align-items: normal;
  }

  .form-footer__submit {
    width: 480px;
    margin: 0;
    margin-bottom: 70px;
  }

  .form-footer__required {
    padding-top: 10px;
  }
}