.invitation {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
    h3 {
      margin: 0;
      padding-top: 30px;
      padding-bottom: 18px;
      font-size: 21px;
      line-height: 26px;
}
    p {
      margin: 0;
      width: 270px;
      font-size: 14px;
      line-height: 24px;
}
    button {
      width: 280px;
      height: 58px;
      margin-top: 34px;
      font-size: 21px;
      font-weight: bold;
      line-height: 26px;
      color: #ffffff;
      background-color: #81b3d2;
      border: none;
  }
}

@media (min-width: @tablet-width) {
  .invitation {
    width: 768px;
     h3 {
      font-size: 30px;
      line-height: 26px;
    }
     p {
      width: 440px;
      font-size: 14px;
      line-height: 24px;
    }
     button {
      width: 458px;
    }
  }
}

@media (min-width: @desktop-width) {
  .invitation {
    width: 1200px;
  }
}
