.navigation__list {
  .lists-reset();
  position: relative;
  display: flex;
  flex-direction: column;
}

.navigation__link {
  .links-reset();
  display: block;
  width: auto;
  height: 54px;
  background-color: #81b3d2;
  border-bottom: solid 1px #678fa8;
  border-top: solid 1px #9ac2db;
  font-size: 18px;
  line-height: 56px;
  color: #ffffff;
  font-weight: bold;
}

.navigation__link:hover {
  background-color: #669ec0;
}

.navigation__link:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.navigation__item--inset {
  order: 1;
}

.navigation__link--inset {
  visibility: hidden;
}

.navigation__link--outset {
  border-bottom: none;
}

.navigation__link--outset {
  box-shadow: inset 0 -30px 15px -35px #34495e;
}

.navigation__logo {
  position: absolute;
  top: 223px;
  left: calc(50% - 49px);
  width: 102px;
  height: 84px;
  background-image: url("../../img/logo-sedona-mobile.svg");
}

.navigation__menu {
  position: absolute;
  top: 239px;
  right: 20px;
  width: 23px;
  height: 22px;
  fill: currentColor;
  color: #81b3d2;
}

@media (min-width: @tablet-width) {
  .navigation__list {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    min-height: 56px;
  }

  .navigation__item {
    flex-grow: 1;
  }

  .navigation__item--inset {
    order: 0;
  }

  .navigation__item--outset {
    order: 1;
  }

  .navigation__link {
    width: 153px;
    height: 55px;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 56px;
    color: #000000;
  }

  .navigation__link--outset {
    box-shadow: none;
  }

  .navigation__link,
  .navigation__link:visited {
    color: #000000;
  }

  .navigation__link:hover {
    color: #81b3d2;
   }

  .navigation__link:active {
    color: rgba(0, 0, 0, 0.302);
  }

  .navigation__link--active {
    color: #766357;
  }

  .navigation__link--active:hover {
    color: #604e43;
  }

  .navigation__link--active:active {
    color: rgba(118, 99, 87, 0.302);
  }

  .link:hover {
    background-color: #ffffff;
  }

  .navigation__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 51px);
    width: 102px;
    height: 84px;
    background-image: url("../../img/logo-sedona-tablet.svg");
  }

  .navigation__menu {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .navigation__link {
    width: 239px;
  }

  .navigation__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 94px);
    width: 187px;
    height: 96px;
    background-image: url("../../img/logo-sedona-desktop.svg");
  }
}
