.photo__promo,
.photo {
  display: flex;
  flex-direction: column;
}

.photo__promo {
  align-items: center;
  height: 200px;
  outline: 1px solid #de2525;
  & h2 {
    margin: 0;
    margin-top: 40px;
    font-size: 18px;
    line-height: 26px;
  }
  & p {
    width: 270px;
    font-size: 14px;
    line-height: 24px;
    outline: 1px solid #de2525;
  }
}

.photo {
  align-items: flex-start;
  margin-left: 20px;
}

.photo__signature,
.photo__like {
  line-height: 24px;
  font-weight: bold;
}

.photo__author {
  text-transform: none;
}
