.reason-picture {
  height: 260px;
  background-color: #81b3d2;
  color: #ffffff;
  p {
    margin: 0;
    line-height: 1;
  }
}

.reason__text {
  margin: 0;
  padding-top: 37px;
  padding-bottom: 27px;
}

.reason-picture--left {
  div {
    height: 190px;
  }
}

.reason-picture__image {
  background-color: #999B99;
}

.reason__gap {
  display: none;
}