.reason-picture__wrapper {
  padding: 0;
  margin: 0;
  height: 230px;
  background-color: #81b3d2;
}

.reason-picture__wrapper--revers {
  height: 190px;
}

.reason-picture__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 110px;
  margin: 0 auto;
  padding-top: 80px;
  color: #ffffff;
  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1;
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
}

.reason-picture__text--revers {
  width: auto;
  padding: 40px;
  h3 {
    width: 280px;
    line-height: 1;
  }
  p {
    margin: 0;
    width: 280px;
    line-height: 1.5;
  }
  .reason__gap {
    display: none;
  }
}

.reason-picture__image {
  margin: 0 auto;
  min-width: 320px;
  height: 260px;
  background-color: #eeeeee;
  img {
    max-width: 100%;
    height: 260px;
  }
}

@media (min-width: @tablet-width) {
  .reason-picture {
    display: flex;
    flex-direction: row;
    height: 256px;
    background-color: #eeeeee;
  }

  .reason-picture__wrapper {
    width: 256px;
    height: 256px;
  }

  .reason-picture__image {
    height: 256px;
    background-color: #999999;
    img {
      width: 512px;
      height: auto;
    }
  }

  .reason-picture--revers {
    flex-direction: row-reverse;
  }

  .reason-picture__text {
    width: 170px;
    margin: 0 auto;
    padding: 0;
    padding-top: 45px;
    h3 {
      margin: 0;
      font-size: 21px;
      line-height: 1.2;
    }
    span {
      margin-top: 15px;
      margin-bottom: 23px;
    }
    p {
      margin: 0;
      line-height: 21px;
    }
  }

  .reason-picture__text--revers {
    padding-top: 50px;
    h3 {
      line-height: 1.2;
      margin-top: -6px;
    }
    p {
      width: 160px;
      line-height: 1.5;
    }
    .reason__gap {
      display: inline-block;
    }
  }
}

@media (min-width: @desktop-width) {
  .reason-picture__wrapper {
    width: 400px;
  }

  .reason-picture__image {
    display: flex;
    align-items: center;
    width: 800px;
    height: 256px;
    overflow: hidden;
    img {
      width: 800px;
      height: auto;
    }
  }

  .reason-picture__text {
    width: 270px;
    padding-top: 54px;
    h3 {
      width: 130px;
      margin-bottom: 4px;
    }
    span {
      margin-top: 10px;
    }
    p {
      width: 270px;
      line-height: 1.4;
    }
  }

  .reason-picture__text--revers {
    width: 220px;
    padding-top: 60px;
    h3 {
      width: 320px;
      line-height: 1.2;
    }
    p {
      width: 220px;
      line-height: 1.4;
    }
  }

  .reason__number--picture::before {
      top: 6px;
    }

  .reason__number--picture::after {
      top: 6px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .reason-picture__text--first span {
      margin-top: 35px;
    }
  }
}
