.reason {
  background-color: #eeeeee;
}

.reason__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  min-height: 167px;
  border-top: solid 1px #d6d6d6;
  h3 {
    margin: 0;
    margin-top: 28px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 26px;
  }
  p {
    width: 270px;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (min-width: @tablet-width) {
  .reasons__title {
    display: flex;
    flex-direction: column;
    align-items: center;
      h3 {
        width: 450px;
        font-size: 21px;
        line-height: 26px;
    }
      p {
        width: 500px;
        font-size: 14px;
        line-height: 26px;
        color: #333333;
    }
  }
  .reasons__five-reasons::after {
    display: none;
  }
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 768px;
  }

  /*ТУТ ПЛОХО!!!*/
  .reasons__item--first,
  .reasons__item--second {
    display: flex;
    width: 768px;
    height: 256px;
    background-color: #81b3d2;
    & .reasons__text {
      width: 256px;
    }
    & .reasons__img {
      width: 512px;
    }
  }
  /*ТУТ ПЛОХО!!!*/
  .reasons__item--second {
    flex-direction: row-reverse;
  }
  .reasons__item--first .reasons__text,
  .reasons__item--second .reasons__text {
    p {
      width: 170px;
      margin: 0;
      margin-top: 25px;
    }
  }
  .reasons__caption {
    width: 160px;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 26px;
  }
  .reasons__text {
    display: flex;
    flex-direction: column;
    width: 256px;
    align-items: center;
  }
  .reasons__img {
    background-color: #999B99;
    overflow: hidden;
  }
  .reasons__item {
    display: flex;
    margin: 0;
    padding: 0;
    width: 256px;
    height: 256px;
  }
  .reasons__gap {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .reasons__list {
    width: 1200px;
  }

  /*ТУТ ПЛОХО!!!*/
  .reasons__item--first,
  .reasons__item--second {
    width: 1200px;
    & .reasons__text {
      width: 400px;
    }
    & .reasons__img {
      width: 800px;
    }
  }

  /*ТУТ ПЛОХО!!!*/
  .reasons__item--first .reasons__text {
    & p {
      width: 270px;
    }
  }
  .reasons__item--second .reasons__text {
    & p {
      width: 220px;
    }
  }
  /*ТУТ ПЛОХО!!!*/
  .reasons__item {
    & p {
      margin-top: 25px;
    }
  }
  /*ТУТ ПЛОХО!!!*/
  .reasons__text {
    width: 400px;
  }
  .reasons__item {
    width: 400px;
    height: 256px;
  }

  .reasons__five-reasons {
    margin: 0;
    margin-top: 10px;
  }
}
