.recommendation__list {
  .lists-reset();
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 415px;
  margin: 0 auto;
}

.recommendation__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
  padding-left: 50px;
  text-align: left;
  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1;
  }
  p {
    margin: 0;
    width: 220px;
    font-size: 14px;
    line-height: 1.3;
  }
}

.recommendation__gap {
  display: none;
}

.recommendation__icon--housing,
.recommendation__icon--gift,
.recommendation__icon--burger {
  display: block;
  position: absolute;
  color: #81b3d2;
  fill: currentColor;
  top: -10px;
  left: 0;
  width: 40px;
  height: 35px;
}

.recommendation__item--gifts {
  height: 80px;
}

@media (min-width: @tablet-width) {
  .recommendation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 768px;
    height: 330px;
    & .recommendation__item:nth-last-child(2) {
      order: 1;
    }
  }

  .recommendation__item {
    padding: 0;
    height: 110px;
    align-items: center;
    text-align: center;
  }

  .recommendation__caption {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 26px;
  }

  .recommendation__text {
    margin: 0;
    width: 162px;
  }

  .recommendation__item--burger .recommendation__text {
    width: 158px;
  }

  .recommendation__icon--housing,
  .recommendation__icon--gift,
  .recommendation__icon--burger {
    top: -50px;
    left: 43px;
    width: 75px;
    height: 72px;
  }
}

@media (min-width: @desktop-width) {
  .recommendation__list {
    width: 1200px;
  }

  .recommendation__item {
    .recommendation__caption {
      /*margin-top: 50px;
      margin-bottom: 20px;*/
    }
    .recommendation__text {
      width: 290px;
    }
    .recommendation__gap {
      display: inline-block;
    }
  }

  .recommendation__icon--housing,
  .recommendation__icon--gift,
  .recommendation__icon--burger {
    left: 108px;
  }
}
