.video__img {
  width: 320px;
  height: 200px;
}

.video__control {
  position: relative;
  width: 280px;
  height: 110px;
  margin: 0 auto;
}

.video__control--top {
  position: absolute;
  top: -47px;
  left: 2px;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__control--bottom {
  position: absolute;
  top: -2px;
  left: 2px;
  width: 280px;
  height: 65px;
  background-color: #f2f2f2;
}

.video__band {
  position: absolute;
  top: -25px;
  left: 25px;
  width: 234px;
  height: 3px;
  background-color: rgba(256, 256, 256, 0.3);
}

.video__slider {
  position: absolute;
  top: -28px;
  left: 60px;
  width: 9px;
  height: 9px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.video__replay {
  top: 21px;
  left: 26px;
  width: 16px;
  height: 20px;
}

.video__subtitles {
  top: 21px;
  left: 176px;
  width: 32px;
  height: 20px;
}

.video__fullscreen {
  top: 21px;
  left: 239px;
  width: 20px;
  height: 20px;
}

.video__replay,
.video__subtitles,
.video__fullscreen {
  position: absolute;
  cursor: pointer;
  fill: currentColor;
  color: #5c6870;
}

.video__replay:hover,
.video__subtitles:hover,
.video__fullscreen:hover {
  color: #333333;
}

.video__replay:active,
.video__subtitles:active,
.video__fullscreen:active {
  color: #b8b8b8;
}

@media (min-width: @tablet-width) {
  .video__img {
    width: 648px;
    height: 500px;
  }

  .video__control {
    width: 648px;
    height: 0;
    padding-bottom: 40px;
  }

  .video__control--top {
    width: 648px;
    height: 93px;
    top: -96px;
    left: 0;
  }

  .video__control--bottom {
    display: none;
  }

  .video__band {
    top: -50px;
    left: 93px;
    width: 389px;
  }

  .video__slider {
    top: -53px;
    left: 207px;
    background: #ffffff;
  }

  .video__replay {
    top: -59px;
    left: 35px;
  }

  .video__subtitles {
    top: -59px;
    left: 524px;
  }

  .video__fullscreen {
    top: -59px;
    left: 587px;
  }

  .video__replay,
  .video__subtitles,
  .video__fullscreen {
    color: #ffffff;
  }

  .video__replay:hover,
  .video__subtitles:hover,
  .video__fullscreen:hover {
    color: #c2c2c2;
  }

  .video__replay:active,
  .video__subtitles:active,
  .video__fullscreen:active {
    color: #949494;
  }
}

@media (min-width: @desktop-width) {
  .video__img {
    width: 800px;
    height: 500px;
  }

  .video__control {
    width: 800px;
    padding-bottom: 86px;
  }

  .video__control--top {
    width: 800px;
  }

  .video__band {
    width: 540px;
  }

  .video__subtitles {
    left: 674px;
  }

  .video__fullscreen {
    left: 737px;
  }
}


