.wrapper-photo {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .wrapper-photo {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper-photo {
    width: 960px;
  }
}

.wrapper-form {
  position: relative;
  width: 280px;
  margin: 0 auto;
  background-color: #ffffff;
  outline: 1px solid #de13b5;
}

/*@media (min-width: @tablet-width) {
  .wrapper-form {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper-form {
    width: 960px;
  }
}*/
