.wrapper {
  position: relative;
  min-width: 320px;
  outline: 1px solid #1bd235;
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
    outline: 1px solid #1bd235;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 -10px 20px 10px #b8b8b8;
    outline: 1px solid #1bd235;
  }
}
