@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2");
  src: url("../fonts/ptsans.woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2");
  src: url("../fonts/ptsansbold.woff");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  top: 0;
  left: 0;
}

input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans", "Arial sans-serif";
}

input::-moz-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans", "Arial sans-serif";
}

input:-moz-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans", "Arial sans-serif";
}

input:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans", "Arial sans-serif";
}

textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans", "Arial sans-serif";
}

textarea::-moz-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans", "Arial sans-serif";
}

textarea:-moz-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans", "Arial sans-serif";
}

textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans", "Arial sans-serif";
}
