@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff");
  src: url("../fonts/ptsans.woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff");
  src: url("../fonts/ptsansbold.woff2");
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "PT Sans", "Arial sans-serif";
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  .links-reset();
}

fieldset {
  border: none;
}

.wrapper__general {
  width: auto;
}

@media (min-width: 768px) {
  .wrapper__general {
    width: 648px;
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
  .wrapper__general {
    width: 1200px;
    padding: 0 40px;
  }
}

.wrapper__internal {
  min-width: 280px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .wrapper__internal {
    width: 648px;
    padding: 0 60px;
  }
}

